@charset "UTF-8";
/*Spinner page acceuil*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&family=Roboto:wght@100;400;500;700&family=Shrikhand&display=swap");
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
.spin::after {
  animation: 1.5s linear spinner;
  animation-iteration-count: 2;
  animation-fill-mode: none;
  border: solid 5px #cfd0d1;
  border-bottom-color: #9356DC;
  border-top-color: #FF79DA;
  border-left-color: #99E2D0;
  border-radius: 50%;
  transform: scale(0);
  content: "";
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
}

@keyframes acceuil_spinner {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
.page_Acceuil {
  animation: acceuil_spinner 0ms 3s both;
}

/*Like*/
@keyframes coeur {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.coeur__aRemplir {
  opacity: 0;
}
.coeur__aRemplir:hover {
  animation: coeur 500ms ease-in-out;
  animation-fill-mode: forwards;
  /*Couleur degradé pour les îcones(Rien compris)*/
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Boutton qui s'eclaicisse et border shadow qui augmente*/
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Roboto";
}

footer {
  background-color: #313131;
  color: white;
}
footer a {
  color: white;
}
footer img {
  width: 30%;
  margin: 20px 0px 10px 40px;
}

header a {
  color: black;
  position: relative;
  right: 10%;
  bottom: 5px;
  font-size: 30px;
}

Header img {
  width: 50%;
  margin-bottom: 10px;
}

.logo--blanc {
  filter: invert(100%) sepia(95%) saturate(19%) hue-rotate(290deg) brightness(106%) contrast(104%);
}

.Image--TailleMoyenne {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.btn__fonctionnement {
  background-color: #f6f6f6;
  border-radius: 10%;
  border: none;
  width: 95%;
  height: 50px;
  margin: 10px 0px 10px 0px;
  box-shadow: 5px 5px 10px #e7e2e2;
  /*Voir section icône pour le nombre */
}
.btn__fonctionnement__contenu {
  display: grid;
  grid-template-columns: 1fr 1fr 6fr 2fr;
  align-items: center;
  position: relative;
  right: 5%;
}
.btn__fonctionnement i {
  font-size: 15px;
}
.btn__fonctionnement p {
  font-weight: bold;
  font-size: 15px;
}
.btn__fonctionnement:hover {
  transition: 300ms ease-in-out;
  filter: brightness(103%);
  box-shadow: 5px 5px 10px #a28e8e;
}

.btn__explorer {
  border-radius: 25px;
  border: none;
  width: 70%;
  height: 60px;
  margin: auto;
  color: white;
  font-weight: bold;
  font-size: large;
}
.btn__explorer--violet_degrade {
  background: linear-gradient(175deg, #FF79DA, #9356DC);
}
.btn__explorer:hover {
  transition: 300ms ease-in-out;
  filter: brightness(115%);
}

.Menu button {
  background-color: white;
  border-radius: 20px;
  width: 90%;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  box-shadow: 10px 10px 20px #e7e2e2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Menu button p {
  font-size: 1.1em;
  text-align: left;
  padding: 5px;
}
.Menu button p:first-child {
  font-weight: bold;
  font-size: 1.3em;
}
.Menu button .prix {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-weight: bold;
}
.Menu button:hover {
  transition: 300ms ease-in-out;
  filter: brightness(105%);
  box-shadow: 10px 10px 20px #a28e8e;
}

.btn__commander {
  width: 60%;
  height: 50px;
  border-radius: 25px;
  border: none;
  margin: auto;
  margin-top: 20px;
  color: white;
  font-weight: bold;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
}
.btn__commander:hover {
  transition: 300s ease-in-out;
  filter: brightness(115%);
}

.nbre {
  height: 25px;
  width: 25px;
  font-size: 1em;
  border-radius: 50%;
  color: white;
  padding-top: 5px;
}
.nbre--violet {
  background-color: #9356DC;
}

.violet {
  color: #9356DC;
}

.cartes__restaurants {
  background-color: white;
  box-shadow: 5px 5px 20px #e7e2e2;
  width: 90%;
  height: 300px;
  display: block;
  margin: 0px auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10%;
  background-color: white;
}
.cartes__restaurants a {
  height: 100%;
  width: 100%;
}
.cartes__restaurants .carte-image {
  height: 80%;
  width: 100%;
  /*1*/
  position: relative;
  /*2*/
  overflow: hidden;
  /*3*/
  border-radius: 10% 10% 0% 0%;
}
.cartes__restaurants img {
  width: 100%;
  height: 100%;
  /*4*/
  /*5 - Méthode de centrage en fonction de la taille de l'image */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.cartes__restaurants .carte-corp {
  display: flex;
  justify-content: space-between;
  color: black;
}
.cartes__restaurants .carte-corp__titre {
  padding-left: 3%;
}
.cartes__restaurants .carte-corp i {
  padding-right: 5%;
  align-self: center;
  font-size: 30px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.localisation {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B9B3B3;
  font-size: 20px;
}
.localisation i {
  width: 10%;
}
.localisation p {
  font-weight: bold;
}

.explore {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 10% 0px 10%;
}
.explore h3 {
  text-align: center;
  font-size: 1.8em;
  margin-top: 40px;
}
.explore p {
  margin-top: 20px;
  text-align: center;
}
.explore button {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
}

.Fonctionnement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Fonctionnement h2 {
  align-self: flex-start;
}

.Restaurants {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  padding-top: 80px;
  padding-bottom: 50px;
}
.Restaurants h2 {
  width: 90%;
  text-align: start;
}
.Restaurants i {
  position: absolute;
  left: 80%;
}

.Menu_Restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 5% 5% 0 0;
  margin-top: 200px;
  padding-bottom: 70px;
}
.Menu_Restaurants .Nom_restaurant {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  margin-bottom: 20px;
}
.Menu_Restaurants .Nom_restaurant h2 {
  font-family: "Shrikhand";
  font-size: 30px;
}
.Menu_Restaurants .Nom_restaurant i {
  font-size: 30px;
  position: absolute;
  left: 80%;
}
.Menu_Restaurants section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.Menu_Restaurants h4 {
  width: 10%;
  margin-top: 35px;
  position: relative;
  right: 40%;
  font-weight: 400;
  border-bottom: 3px solid #99E2D0;
}

/*2eme option pour les boutons avec css grid*/

/*# sourceMappingURL=style.css.map */
