/*Cursor de type pointer pour les bouttons*/

button,
.btn {
    cursor: pointer;
}


/*Bouttons de la partie fonctionnement*/

.btn__fonctionnement {
    background-color: $couleur_gris_claire; //couleur de fond
    border-radius: 25px; //Coin arrondies
    border: none; //pas de bordure visible
    width: 90%;
    @include desktop-only {
        width: 30%; //Bouton qui ne prennent que 30% de la largeur pour la partie desktop
        //Ils doivent tenir sur une ligne
    }
    height: 50px; //Hauteur fixe de 50px
    margin: 10px 0px 10px 0px;
    box-shadow: 5px 5px 10px $couleur_box_shadow_grise;
    &__contenu {
        //Contenu correspond aux élements à l'interieur du bouton !! Va permettre de décaler le contenu vers la gauche 
        display: grid;
        height: 100%;
        grid-template-columns: 13% 10% 77%; //Design idèle à la maquette
        align-items: center; //Centrer les élements sur l'axe vertical
        position: relative; //Permet que le nombre soit sur la bordure gauche du bouton
        right: 4%; //Permet que le nombre soit sur la bordure gauche du bouton
        @include tablette-only {
            right: 2%;
        }
    }
    /*Voir section icône pour le style nombre */
    i {
        font-size: 15px;
    }
    .btn__fonctionnement__icone {
        color: grey;
    }
    &:hover .btn__fonctionnement__icone {
        color: $couleur_primaire;
    }
    p {
        font-weight: bold;
        font-size: 1.2em;
        text-align: left;
        white-space: nowrap; //ne pas revenir à la ligne
    }
    &:hover {
        //Effet de transition
        transition: 400ms ease-in-out;
        filter: brightness(99%); //filter :darken($color: $couleur_gris_claire, $amount: 100); //Le bouton s'éclaircit au survol
        //filter: darken($couleur_gris_claire, 30%); 
        box-shadow: 5px 5px 10px darken($color: $couleur_box_shadow_grise, $amount: 30); //Effet box shadow plus visible
    }
}


/*Bouton explorer*/

.btn__explorer {
    border-radius: 50px;
    border: none;
    width: 70%;
    padding: 10px;
    @include desktop-only {
        width: 30%; //Diminution de la taille du bouton en format desktop
    }
    height: 60px; //Hauteur fixe
    margin: auto; //Centrer le bouton
    color: white; //Police blanche
    font-size: 1em;
    @include tablette-only {
        font-size: 1.6em;
    }
    box-shadow: 5px 5px 10px gray;
    &--violet_degrade {
        //Couleur violet dégradé
        background: linear-gradient(175deg, $couleur_secondaire, $couleur_primaire);
    }
    &:hover {
        //Effet de transition au survol du bouton
        transition: 400ms ease-in-out;
        filter: brightness(105%); //Eclaircissement
        box-shadow: 5px 5px 10px darken($color: gray, $amount: 30); //Effet box shadow plus marqué
    }
}


/*Bouton commander*/

.btn__commander {
    width: 50%;
    @include desktop-only {
        width: 30%;
    }
    height: 50px;
    border-radius: 25px;
    border: none;
    margin: auto;
    margin-top: 20px;
    color: white;
    font-size: 1em;
    @include tablette-only {
        font-size: 1.6em;
    }
    @include centrer_elements;
    background: linear-gradient(175deg, $couleur_secondaire, $couleur_primaire);
    &:hover {
        transition: 600ms ease-in-out;
        filter: brightness(115%);
        box-shadow: 5px 5px 10px darken($color: $couleur_box_shadow_grise, $amount: 30); //Effet box plus visible
    }
}