button,
i {
    cursor: pointer;
}

.btn__fonctionnement {
    background-color: $couleur_gris_claire;
    border-radius: 10%;
    border: none;
    width: 90%;
    @include desktop-only {
        width: 30%;
    }
    height: 50px;
    margin: 10px 0px 10px 0px;
    box-shadow: 5px 5px 10px $couleur_box_shadow_grise;
    &__contenu {
        display: grid;
        grid-template-columns: 1fr 1fr 6fr 2fr;
        align-items: center;
        position: relative;
        right: 5%;
    }
    /*Voir section icône pour le nombre */
    i {
        font-size: 15px;
    }
    p {
        font-weight: bold;
        font-size: 15px;
    }
    &:hover {
        transition: 300ms ease-in-out;
        filter: brightness(103%);
        box-shadow: 5px 5px 10px darken($color: $couleur_box_shadow_grise, $amount: 30);
    }
}

.btn__explorer {
    border-radius: 50px;
    border: none;
    width: 70%;
    padding: 10px;
    @include desktop-only {
        width: 30%;
    }
    height: 60px;
    margin: auto;
    color: white;
    font-size: 1em;
    box-shadow: 5px 5px 10px gray;
    &--violet_degrade {
        background: linear-gradient(175deg, $couleur_secondaire, $couleur_primaire);
    }
    &:hover {
        transition: 400ms ease-in-out;
        filter: brightness(105%);
        box-shadow: 5px 5px 10px darken($color: gray, $amount: 30);
    }
}

.Menu button {
    background-color: white;
    border-radius: 20px;
    width: 90%;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    box-shadow: 10px 10px 20px $couleur_box_shadow_grise;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-auto-rows: 1fr 1fr;
    overflow: hidden; //enlever la partie du bouton vert qui dépasse
    p {
        max-height: 30px;
        text-align: left;
        padding: 5px;
        white-space: nowrap; //ne pas revenir a la ligne
        text-overflow: ellipsis; //ne fonctionne pas encore
        overflow: hidden;
    }
    p:first-child {
        font-weight: bold;
        font-size: 1.2em;
    }
    .accompagnement {
        grid-column: 1;
        grid-row: 2;
        font-size: 1em;
    }
    .prix {
        width: 100%;
        height: 100%;
        text-align: right;
        grid-column: 2;
        grid-row: 2;
        font-weight: bold;
    }
    &:hover>.prix {
        transform: translateX(-100%);
        transition: 1s linear;
    }
    &:hover>.accompagnement {
        animation: text_ellipsis_1 1s linear forwards;
        text-overflow: ellipsis; //ne fonctionne pas encore
        overflow: hidden;
    }
    &:hover {
        transition: 300ms ease-in-out;
        filter: brightness(105%);
        box-shadow: 10px 10px 20px darken($color: $couleur_box_shadow_grise, $amount: 30);
    }
}

.btn__commander {
    width: 50%;
    @include desktop-only {
        width: 30%;
    }
    height: 50px;
    border-radius: 25px;
    border: none;
    margin: auto;
    margin-top: 20px;
    color: white;
    font-size: 1em;
    @include centrer_elements;
    background: linear-gradient(175deg, $couleur_secondaire, $couleur_primaire);
    &:hover {
        transition: 300Ms ease-in-out;
        filter: brightness(115%);
    }
}