.Image--TailleMoyenne {
    width: 100%;
    position: absolute; //Faire apparaîte les images en dessous du menu
    z-index: -1; //Faire apparaîte les images en dessous du menu
    object-fit: cover;
}