@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

* {
    border: dashed 1px black;
    box-sizing: border-box;
    margin: 0px;
}