header {
    @include centrer_elements;
}

.localisation {
    @include centrer_elements;
    background-color: #B9B3B3;
}

.explore {
    @include centrer_elements;
    flex-direction: column;
    h3 {
        text-align: center;
    }
    p {
        font-weight: bold;
        text-align: center;
    }
    button {
        text-align: center;
        width: 70%;
        height: 70%;
    }
}

.Fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}