.Menu_Restaurants {
    /*Apparition progressive des cartes du restaurants*/
    button {
        animation: menuApparition ease-in-out both;
        animation-duration: 1000ms;
        transform: scale(0);
        transform-origin: top;
    }
    @for $i from 1 to 10 {
        .apparition_delai-#{$i} {
            animation-delay: #{$i/5}s;
        }
    }
    .Nom_restaurant {
        display: flex;
        justify-content: space-between;
        width: 90%;
        align-items: center;
        margin-top: 30px;
        @include desktop-only {
            width: 20%;
            justify-content: center;
        }
        h2 {
            font-family: 'Shrikhand';
            font-size: 2em;
        }
        i {
            font-size: 30px;
            position: absolute;
            left: 83%;
            @include desktop-only {
                left: 65%;
            }
        }
    }
    @include centrer_elements_colomnes;
    margin: auto;
    width: 100%;
    background-color: $couleur_gris_claire;
    border-radius: 40px 40px 0 0;
    margin-top: 200px;
    @include desktop-only {
        margin-top: 600px;
    }
    @include tablette-only {
        margin-top: 400px;
    }
    padding-bottom: 70px;
    .Menu {
        @include desktop-only {
            flex-direction: row;
        }
    }
    section {
        @include centrer_elements_colomnes;
        width: 100%;
    }
    h4 {
        width: 10%;
        margin-top: 35px;
        position: relative;
        right: 40%;
        font-weight: 400;
        border-bottom: 3px solid $couleur_tertiaire;
    }
}


/*2eme option pour les boutons avec css grid*/