@mixin transformer_image_en_blanc {
    filter: invert(100%) sepia(95%) saturate(19%) hue-rotate(290deg) brightness(106%) contrast(104%);
}

@mixin centrer_elements {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin centrer_elements_colomnes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin position_bas_droite {
    position: absolute;
    bottom: 5%;
    right: 5%;
}