$couleur_primaire: #9356DC;
$couleur_secondaire: #FF79DA;
$couleur_tertiaire: #99E2D0;
$couleur_footer:#313131;
$couleur_gris_claire:#f6f6f6;
$couleur_box_shadow_grise:#e7e2e2;
$breakpoints: ( "mobile":750px, "tablette":950px);