/*Creation du spinner de la page acceuil*/


/*Keyframes Spinner*/

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg) scale(1.5);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

.spin::after {
    //creation du style du spinner
    animation: $duree_spinner linear spinner;
    animation-iteration-count: $nbre_iteration_animation;
    animation-fill-mode: none; //Spinner qui disparaît à la fin de l'animation. 
    transform: scale(0); //Spinner qui disparaît à la fin de l'animation.
    border: solid 5px #cfd0d1;
    border-bottom-color: $couleur_primaire;
    border-top-color: $couleur_secondaire;
    border-left-color: $couleur_tertiaire;
    border-radius: 50%;
    content: "";
    height: $spinner_size;
    width: $spinner_size;
    /*Positionner le Spinner au centre + ne pas gener la page ensuite*/
    position: fixed; //Prend toute la place de l'écran !! Suit le scroll
    margin: auto;
    top: 50%;
    left: 50%;
    margin-left: calc(-1*$spinner_size/2);
    opacity: 100%;
}

//TEMPS DE CHARGEMENT DE LA PAGE
//La page ne ne se charge qu'une fois que l'animation du spinner est terminée
@keyframes acceuil_spinner {
    0% {
        opacity: 20%; //Permet que la page soit légèrement visible dans le fond
    }
    100% {
        opacity: 100%;
    }
}

.page_Acceuil {
    animation: acceuil_spinner 0ms $delai_chargement_page both; //both permet que la page reste en place après l'aniamtion
}


/*Bouton Like*/

@keyframes coeur {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

//Creation du style du 2eme coeur qui va progressivement se remplir
.coeur__aRemplir {
    opacity: 0; //ne pas afficher le coeur avant le début de l'animation
    &:hover {
        animation: coeur 500ms ease-in-out;
        animation-fill-mode: forwards; //Faire en sorte que le coeur reste après la fin de l'animation
        /*Couleur degradé pour les îcones !! */
        background: linear-gradient(175deg, $couleur_secondaire, $couleur_primaire);
        //background: -webkit-gradient(linear, left top, left bottom, from($couleur_secondaire), to($couleur_primaire)); Même effet que la ligne précedente
        -webkit-background-clip: text; //Permet de supprimer ce qui dépasse du coeur !! Juste background clip ne fonctionne pas, je ne sais pas pourquoi
        color: transparent;
        //-webkit-text-fill-color: transparent;  Même effet que la ligne précédente
    }
}


/*Apparition du checkbox vert lorsqu'on selectionne un plat*/

//Le plat apparait et glisse vert la gauche
@keyframes plat_selection_apparition {
    0% {
        opacity: 1;
        transform: scaleX(0);
    }
    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}

//L'icône validé fait un tour à 360 degré
@keyframes plat_selection_turn {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

//Le texte à gauche s'eclipse progressivement
@keyframes text_ellipsis_1 {
    0% {
        width: 100%;
    }
    100% {
        width: 80%;
    }
}


/*Les boutons du menu apparaissent progressivement 
Utilisation de l'outil animation-delay pour l'apparition progressive*/

@keyframes menuApparition {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(1)
    }
}