footer {
    background-color: $couleur_footer;
    color: white;
    a {
        color: white;
    }
    img {
        width: 35%;
        object-fit: cover;
        margin: 20px 0px 5px 40px;
        @include transformer_image_en_blanc;
    }
    li {
        margin: 4px 0px 4px 0px;
    }
}